canvas{border:1px solid black;} 
.btn{
    background-color: aliceblue;
    color: black;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
    display: inline-block;
}

.slidecontainer {
    width: 100%; 
  }
  
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  
  
  .slider:hover {
    opacity: 1; 
  }
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #4CAF50; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #4CAF50; 
    cursor: pointer; 
  }